.body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 0 15px;
}

.button {
    align-items: center;  
    display: flex;
    background-color: lightseagreen;
    border-radius: 3px;
    color: white;
    height: 60%;
    justify-content: center;
    width: 40%;
}

.button.cancel {
    background-color: gray;
}

.card {
    border-radius: 4px;
    box-shadow: 0px 0px 12px #888888;
    margin: 20px;
    min-width: 250px;
    padding-top: 5px;
    height: 200px;
    width: 20%;
}

.card .card-header {
    background-color: white;
    border-bottom: solid 1px black;
    height: calc(25% - 10px);
    padding-left: 10px;
    padding-top: 10px;
}

.card .card-header .title {
    float: left;
}

.card .card-header .buttons {
    min-width: 50px;
}

.card .button {
    background-color: white;
    color: lightgray;
    float: right;
    height: 24px;
    margin: 0px;
    width: 24px;
}

.card .button:hover {
    color: lightseagreen;
}

.container {
    font-family: 'Roboto';
}

.dialog {
    background-color: white;
    box-shadow: 0px 0px 12px #888888;
    border-radius: 8px;
    height: 40%;
    left: 25%;
    position: absolute;
    top: 20%;
    width: 45%;
}

.dialog .message {
    height: 75%;
}

.dialog .message .messge-title {
    font-size: 24px;
    height: calc(25% - 20px);
    padding: 20px;
}

.dialog .message .messge-body {
    height: calc(75% - 20px);
    padding: 20px;
}

.dialog .footer {
    align-items: center;
    background-color: lightgray;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    height: 25%;
    justify-content: space-between;
    padding: 0px 15px;
}

.formContainer {
    background-color: white;
    height: 91%;
    padding-left: 10px;
}

.formContainer form {
    height: 100%;
    width: 98%;
}

.formContainer input, .formContainer input:focus {
    border: none;
    background-color: white;
    font-size: 24px;
    height: 15%;
    padding: 0px;
    width: 98%;
}

.formContainer input:focus {
    margin: 0px;
    outline: none;
}

.formContainer textarea, .formContainer textarea:focus {
    border: none;
    font-size: 12px;
    height: 85%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.formContainer textarea:focus {
    outline: none;
}

.header {
    align-items: center;
    background-color: black;
    display: flex;
    height: 75px;
    justify-content: flex-end;
    padding-right: 15px;
    width: calc(100% - 15px);
}

.header .button {
    width: 150px;
}

.modal-background {
    background-color: white;
    height: 100vh;
    opacity: 0.6;
    position: fixed;
    width: 100%;
}

.note {
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 0px 12px #888888;
    height: 75%;
    left: 25%;
    min-height: 375px;
    position: absolute;
    top: 12%;
    width: 45%;
}

.note-content {
    background-color: white;
    height: 83%;
    position: relative;
    top: 2%;
}

.note-body {
    background-color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 12px;
    height: calc(75% - 10px);
    padding-left: 10px;
    padding-top: 10px;
}

.color-picker {
    background-color: white;
    height: 8%;
    padding: 0  0 0 10px;
    position: relative;
    top: 1%;
}

.color-picker .color {
    border: solid 2px white;
    border-radius: 6px;
    float: left;
    height: 20px;
    width: 20px;
}

.note .footer {
    align-items: center;
    background-color: lightgray;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    height: 15%;
    justify-content: space-around;
    position: relative;
}

.note .footer .button {
    height: 50%;
    width: 40%;
}

/* Web Styling */
@media only screen and (min-width: 769px) {
    .note .footer {
        top: 2%;
    }
}

/* Mobile Styling */
@media only screen and (max-width: 768px) {
    body {
        margin: 0px;
    }

    .color-picker .color {
        border: solid 4px white;
        height: 40px;
        width: 40px;
    }

    .formContainer input, .formContainer input:focus {
        font-size: 32px;
    }

    .formContainer textarea, .formContainer textarea:focus {
        font-size: 18px;
    }

    .header {
        justify-content: space-around;
        padding: 0px;
        width: 100%;
    }

    .note {
        border-radius: 0px;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100%;
    }

    .note-content {
        height: 100%;
    }

    .note .footer {
        bottom: 0; 
        position: fixed;
        width: 100%;
    }
}
